<div class="modal-content">
  <h5 class="center">Create New Entry</h5>
  <div class="row">
    <div class="row">
      <div class="col l4">
        <input class="text-input" type="text" name="name" id="name" value="">
        <label for="name">Project Name</label>
      </div>
      <div class="col l4">
        <input class="text-input" type="text" name="date" id="date" value="">
        <label for="date">Date Completed</label>
      </div>
      <div class="col l4">
        <input class="text-input" type="text" name="role" id="role" value="">
        <label for="role">Role</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col l6">
        <label for="brief">Brief</label>
        <textarea id="brief" class="materialize-textarea"></textarea>
      </div>
      <div class="input-field col l6">
        <label for="description">Description</label>
        <textarea id="description" class="materialize-textarea"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col l12">
        <div class="vertical-align">
          <input type="radio" name="type" id="type_web" value="web">
          <label for="type_web">Web</label>
          <input type="radio" name="type" id="type_game" value="game">
          <label for="type_game">Game</label>
          <input type="radio" name="type" id="type_sandbox" value="sandbox">
          <label for="type_sandbox">Sandbox</label>
        </div>
      </div>
      <div class="col l6">
        <input type="text" class="text-input" name="live_link" id="live_link" value="">
        <label for="live_link">Live Link</label>
      </div>
    </div>
    <div class="row">
      <div class="col l6">
        <h6>Tags</h6>
        <input type="radio" name="tag" id="javascript" value="javascript">
        <label for="javascript">javascript</label>
        <input type="radio" name="tag" id="htmlcss" value="htmlcss">
        <label for="htmlcss">html/css</label>
      </div>
    </div>
    <div class="row">
      <div class="col l6">
        <h6>Thumb URL</h6>
        <input class="text-input" type="text" name="thumb_url" value="">
        <label for="thumb_url">Thumb URL</label>
      </div>
    </div>
    <div class="row">
      <div class="col l6" id="image_container">
        <h6>Images</h6>
        <input class="text-input" type="text" name="image_url" value="">
        <label for="image_url">Image URL</label>
      </div>
      <a class="btn-floating btn-large waves-effect waves-light blue-grey lighten-4" id="add_image"><i class="material-icons">add</i></a>
    </div>
    <div class="row">
      <div class="col l6" id="video_container">
        <h6>Videos</h6>
        <div class="video-content">
          <input class="text-input" type="text" name="video_url" value="">
          <label for="video_url">Video URL</label>
          <input class="text-input" type="text" name="video_title" value="">
          <label for="video_title">Video Title</label>
        </div>
      </div>
      <a class="btn-floating btn-large waves-effect waves-light blue-grey lighten-4" id="add_video"><i class="material-icons">add</i></a>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="create_entry">Create</a>
</div>
