<div class="modal-content" id="{{entry_id}}">
  <h5 class="center">View and Edit Content</h5>
  <!-- <input class="text-input" type="text" name="cell_content" id="cell_content" value="{{cell_content}}"> -->
  <div class="vertical-align">
    <input type="radio" name="type" id="type_web" value="web">
    <label for="type_web">Web</label>
    <input type="radio" name="type" id="type_game" value="game">
    <label for="type_game">Game</label>
    <input type="radio" name="type" id="type_sandbox" value="sandbox">
    <label for="type_sandbox">Sandbox</label>
  </div>
</div>
<div class="modal-footer">
  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="save_entry">Save</a>
</div>
