.container {
  padding-bottom: 40px;
}

.navbar {
  background-color: #FEDF00;
}

.row  {
  padding-top: 20px;
  justify-content: center;
}

.row-primary {
  width: 100%;
  background-color: #fff3a6;
}

.row-secondary {
  width: 100%;
  background-color: rgb(242, 239, 200);
}

.card {
  max-width: 300px;
  /*background-color: rgb(178, 201, 218);*/
  border-radius: 0;
  margin: 20px;
  border-width: 0;
}

.fade {
   opacity: .25;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
 }

.fade:hover {
  opacity: .75;
}

.card-img-top {
  max-width: 300px;
}

.card-img-bg {
  position:absolute;
  max-width: 300px;
}

.card-group {
  justify-content: center;
}

a {
  color: #707070;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

.btn {
  /*margin-left: 15px;*/
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  border-style: none;
  background-color: #FEDF00;
  color: #474747;
}

.btn:hover {
  background-color: #474747;
  color: #FEDF00;
}

olor: #474747;
}

/*Components*/

.video-component {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.tag-component {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-direction: row;
  justify-content: flex-start;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 25px;
    background-color: #f1f1f1;
}
