.col {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.text-input {
  height: 30px !im;
}

.container {
  padding-top: 30px;
  /*margin-left: 5%;
  margin-right: 5%;*/
}

.nav-wrapper {
  padding-left: 20px;
}
