<!-- <div class="container"> -->

  <div class="row">
    <div class="col-md-6">
      <div>
        <div uib-carousel active="$ctrl.active" interval="$ctrl.myInterval" no-wrap="$ctrl.noWrapSlides">
          <div uib-slide ng-repeat="slide in $ctrl.slides track by slide.id" index="slide.id">
            <img class="carousel-image" ng-src="{{slide.image}}" style="margin:auto;">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!-- Title -->
      <h3>{{$ctrl.project.name}}</h3>
      <!-- Role -->
      <h5>{{$ctrl.project.role}}</h5>
      <!-- Date -->
      <h5>{{$ctrl.project.date}}</h5>
      <!-- About Text -->
      <p>{{$ctrl.project.description}}</p>
      <!-- Tags -->

      <div class="tag-component" >
        <div ng-repeat="tag in $ctrl.project.tags">
          <span class="chip">{{tag}}</span>
        </div>
      </div>
      <h3>External Links</h3>
      <!-- View Project -->
      <div ng-if="$ctrl.project.live_url">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.navToProject({{project.live_link}})"><h4>View Live Project</h4></button>
      </div>
      <div ng-if="$ctrl.project.videos.length" class="external-link-container">
        <div class="" ng-repeat="video in $ctrl.project.videos">
          <div class="external-link text-center">
            <a href="#" ng-click="$ctrl.openVideoLink(video.url)"><img style="width:75px" src="https://s3-us-west-2.amazonaws.com/popuparcade.com/Buttons/video_button.svg" alt=""></a>
            <a href="#" ng-click="$ctrl.openVideoLink(video.url)"><h5 class="text-center">{{video.title}}</h5></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div ng-if="$ctrl.project.videos.length" class="row">
    <h3 class="text-center">Project Videos</h3>
    <div class="col-md-12 text-center">
      <div class="video-component" ng-repeat="video in $ctrl.project.videos">
        <div class="row">
          <iframe width="560" height="315" ng-src="{{video.link}}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div> -->
<!-- </div> -->
