<div class="row">
  <div class="col-md-6">
    <div>
      <div uib-carousel active="$ctrl.active" interval="$ctrl.myInterval" no-wrap="$ctrl.noWrapSlides">
        <div uib-slide ng-repeat="slide in $ctrl.slides track by slide.id" index="slide.id">
          <img class="carousel-image" ng-src="{{slide.image}}" style="margin:auto;">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <!-- Title -->
    <h3>{{$ctrl.project.name}}</h3>
    <!-- Role -->
    <h5>Role: {{$ctrl.project.role}}</h5>
    <!-- Date -->
    <h5>{{$ctrl.project.date}}</h5>
    <!-- About Text -->
    <p>{{$ctrl.project.description}}</p>
    <!-- Tags -->

    <div class="tag-component" >
      <div ng-repeat="tag in $ctrl.project.tags">
        <span class="chip">{{tag}}</span>
      </div>
    </div>
    <h3 ng-if="$ctrl.project.live_link || $ctrl.project.videos.length">External Links</h3>
    <!-- View Project -->
    <div ng-if="$ctrl.project.live_link">
      <button type="button" class="btn" ng-click="$ctrl.navToProject()"><h4>View Live Project</h4></button>
    </div>
    <div ng-if="$ctrl.project.videos.length" class="external-link-container">
      <div class="" ng-repeat="video in $ctrl.project.videos">
        <div class="external-link">
          <a href="#" ng-click="$ctrl.openVideoLink(video.url)"><img style="width:75px" src="https://s3-us-west-2.amazonaws.com/popuparcade.com/Buttons/video_button.svg" alt=""></a>
          <a href="#" ng-click="$ctrl.openVideoLink(video.url)"><h5 style="padding-left:10px">{{video.title}}</h5></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Wireframes -->
<div class="row">
  <div class="white-space">
    <h3 class="text-center">Wireframes</h3>
    <h4 class="text-center">This is an overview of preliminary wireframes that were used in the planning of Gathered Gardens.</h4>
  </div>
  <div class="wireframe-container">
    <div ng-repeat="slide in $ctrl.wireframes">
      <div class="row">
        <h4 class="text-center">{{slide.id+1}}</h4>
        <a ng-click="$ctrl.openLightboxModal($ctrl.wireframes, slide.id)">
          <img class="img-thumbnail" ng-src="{{slide.url}}" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="row white-space">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div ng-repeat="slide in $ctrl.wireframes">
        <h5 class="wireframe-text"> <b>{{slide.id+1}} : </b>{{slide.text}}</h5>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<!-- Map Creation -->
<div class="row">
  <div class="white-space">
    <h3 class="text-center">Dynamic Vector Graphics: Design Process</h3>
    <h4 class="text-center">Gathered Gardens relied on dynamic SVG maps that I created in Adobe Illustrator</h4>
  </div>
  <div class="wireframe-container">
    <div ng-repeat="map in $ctrl.maps">
      <div class="row">
        <a ng-click="$ctrl.openLightboxModal($ctrl.maps, map.id)">
          <img class="img-thumbnail" ng-src="{{map.url}}" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h5>In order to create maps that accurately represent the layout of various gardens, I used Adobe Illustrator to abstract and normalize garden layout diagrams. Because the maps needed to reflect dynamic database information, I exported SVG files of the maps, which could then be visually modified with Angular upon adding or removing produce from a plot. Each plot could include a maximum of 12 different types of produce. The variety of produce in a plot is visually via a dot diagram. Each type of produce had a hex color value associated with it. The colors of the dots in a plot change color depending on what is planted. The diagrams above reflect this process of building up the map visualization.</h5>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row text-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="white-space">
        <h4>The same process was applied to different garden layouts:</h4>
      </div>
      <img class="image-fill" ng-src="
  https://s3-us-west-2.amazonaws.com/popuparcade.com/Featured/gathered_gardens/hawthorn_visualization.png" alt="">
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="row text-center">
  <div class="row white-space">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3>Plot Data</h3>
      <h4>Users can click on individual plots, represented as colored dot-clusters, to view the produce that is logged in that plot. If the plot belongs to the user, he or she can add and remove produce.</h4>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <img class="image-fill white-space" ng-src="https://s3-us-west-2.amazonaws.com/popuparcade.com/Featured/gathered_gardens/plot_modal.png" alt="">
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="row text-center">
  <div class="row white-space">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3>D3.js Data Viz</h3>
      <h4>In addition to visualizing the produce planted in garden maps, we aggregated the data of produce logged to create a bubble chart. The bubble chart visualizes the most common or least commonly planted produce by bubble size and color.</h4>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <img class="image-fill white-space" ng-src="https://s3-us-west-2.amazonaws.com/popuparcade.com/Featured/gathered_gardens/d3_dataviz.png
    " alt="">
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="row text-center">
  <div class="white-space row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3>Garden Navigation</h3>
      <h4>The D3 bubble chart visualization included data from 7 different gardens. Users can navigate to different gardens via an interactive, minimalist map menu.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <img class="image-fill white-space" ng-src="https://s3-us-west-2.amazonaws.com/popuparcade.com/Featured/gathered_gardens/mapnav.png" alt="">
    </div>
    <div class="col-md-2"></div>
  </div>

</div>

<div class="row text-center">
  <div class="white-space row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3>Communication Features</h3>
      <h4>In addition the various data visualization features, users can exchange information using a searchable forum or a real-time chat widget.</h4>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <img class="image-fill white-space" ng-src="https://s3-us-west-2.amazonaws.com/popuparcade.com/Featured/gathered_gardens/forum.png" alt="">
      <img class="image-fill white-space" ng-src="https://s3-us-west-2.amazonaws.com/popuparcade.com/Featured/gathered_gardens/chatwidget.png" alt="">
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="row text-center">
  <div class="white-space row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3>Logo Design</h3>
      <h4>I created multiple versions of the logo to "brand" the site as Gathered Gardens. Here is the evolution:</h4>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h4>First Iteration</h4>
    <img class="image-fill white-space" ng-src="https://s3-us-west-2.amazonaws.com/popuparcade.com/Featured/gathered_gardens/gg_logo_v1.png" alt="">
    <h4>Second Iteration</h4>
    <img class="image-fill white-space" ng-src="https://s3-us-west-2.amazonaws.com/popuparcade.com/Featured/gathered_gardens/gg_logo_v2.png" alt="">
    <h4>Final Iteration</h4>
    <img class="image-fill white-space" ng-src="https://s3-us-west-2.amazonaws.com/popuparcade.com/Featured/gathered_gardens/gg_logo_v3.png" alt="">
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row text-center">
  <button type="button" class="btn" ng-click="$ctrl.navToProject()"><h4>View Live Project</h4></button>
</div>
